

<div class="jumbotron text-center"> 
    
  <div><h2>{{name}}</h2></div>
  <div class = "row" id = "bottomrows">
  
      <youtube-video video-id="video1" class="col-md-6"></youtube-video>
      <iframe class="col-md-6" id="player" type="text/html" width="494px" height="390px"
        ng-src="{{twitch}}"
        frameborder="0"></iframe>
    
  </div>
  
  <div class = "row" id = "bottomrows">
    <div class="col-md-6" id = "outer">
      <div id = "inner">
        <h4>Price: {{price}}</h4>
        <a type="button" class="btn btn-success" ng-href="{{link}}">VIEW THIS ON THE STEAM STORE</a>
      </div>
    </div>
    <div class="col-md-6" ><img ng-src={{largeImage}} height="215" width="460"alt="Description" /></div>
  </div>
 
    </tbody>
  </table>
</div>