<div class="jumbotron text-center"> 
  <h1>Welcome to SteamTube!</h1>
  <h1></h1>


  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>                      </th>
        <th>Game</th>
        <th>Price</th>
        <!-- <th class="col-sm-2"></th> -->
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="game in games">
        <td><img ng-src={{game.image}} alt="Description" /></td>
        <td>{{ game.title }}</td>
        <td>{{ game.price }}</td>
        <!-- <td class="col-sm-2">
          <a ng-href="/users/{{ person._id }}" class="btn btn-danger">Edit</a>
          <a href="#" ng-click="user.deleteUser(person._id)" class="btn btn-primary">Delete</a>
        </td> -->
      </tr>
    </tbody>
  </table>
</div>