<div class="jumbotron text-center"> 
  <h1>Welcome to SteamTube!</h1>
  <h3><label>Search Games: <input ng-model="searchText"></label></h3>


  <table class="table table-bordered">
    <thead>
      <tr>
        <th></th>
        <th><h3>Games</h3></th>
        <th><h3>Price</h3></th>

      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="game in games | orderBy: 'orderId' | filter:searchText" class="item">
        <td ng-click = single()><img ng-src={{game.image}} alt="Description"></td>
        <td ng-click = single()><div><h3>{{ game.name }}</h3></div></td>
        <td ng-click = single()><div><h3>{{ game.price }}</h3></div></td>
        
      </tr>
    </tbody>
  </table>
</div>