body {
  background-color: #22374B;
  /*color: #FFFFFF;*/
}

/*ngview animation*/
.fade {
    /*position: absolute;*/
/*    top: 0;
    left: 0;
    right: 0;*/
    opacity: 1;
}
.fade.ng-enter {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
},
.fade.ng-leave {
   /* -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;*/
}
.fade.ng-enter {
    opacity: 0;
}
.fade.ng-enter-active {
    opacity: 1;
}
.fade.ng-leave {
    opacity: 1;
}
.fade.ng-leave-active {
    opacity: 0;
}

/*ngrepeat animation*/
.item { }

.item.ng-move,
.item.ng-enter,
.item.ng-leave {
  -webkit-transition:all linear 0.3s;
  transition:all linear 0.3s;
}

.item.ng-leave.ng-leave-active,
.item.ng-move,
.item.ng-enter {
  opacity:0;
}

.item.ng-leave,
.item.ng-move.ng-move-active,
.item.ng-enter.ng-enter-active {
  opacity:1;
}

.navbar-inverse {
  background-color: black;
}

#bottomrows {
  padding: 10px;
  position: relative;
  height: 100%;
}

input {
  background-color: #16202D;
  color: #62B7E9;
}

#outer {
  display: table;
  height: 215px;
}

#inner{
  display: table-cell;
  vertical-align: middle;
}

.jumbotron {
  padding: 5px;
  margin: 0;
  background-color: #C7D5E0;
  /*color: ;*/
}

#home {
  font-size: 27px;
}

table {
  background-color: #16202D;
  color: #C7D5E0;
  /*border-radius: 15px;*/
}

header {
  padding: 0;
  margin: 0;
}
.navbar.navbar-inverse {
  margin: 0;
  padding: 0;
}

th {
  text-align: center;
}

td {
  color: #62B7E9;
  /*display: table;*/
}



